<%= render 'client/shared/banner' %>
<%= render 'client/shared/announcement' %>

<div class="mt-2">
  <h3><span class="badge text-bg-primary"><%= t('winners_feedback') %></span></h3>
  <div class="row row-cols-lg-5 row-cols-1 gap-2">
    <% @shares.each do |share| %>
      <div class="col">
        <div class="card w-30">
          <%= image_tag(share.picture_url, class: "img-fluid") if share.picture.present? %>
        </div>
      </div>
    <% end %>

    <%= link_to shares_path, class: "col text-decoration-none" do %>
      <div class="card p-4 w-30 h-100 d-flex justify-content-center align-items-center">
        <span><%= t('more') %></span>
      </div>
    <% end %>
  </div>

  <h3><span class="badge text-bg-primary mt-2"><%= t('coming_soon') %></span></h3>
  <div class="row row-cols-lg-5 row-cols-1 gap-2">
    <% @items.each do |item| %>
      <%= link_to lottery_path(item), class: "col text-decoration-none" do %>
        <div class="card w-30">
          <%= image_tag(item.image_url, class: "img-fluid") if item.image.present? %>
        </div>
      <% end %>
    <% end %>

    <%= link_to lotteries_path, class: "col text-decoration-none" do %>
      <div class="card p-4 w-30 h-100 d-flex justify-content-center align-items-center">
        <span><%= t('more') %></span>
      </div>
    <% end %>
  </div>
</div>
