<div class="container d-flex justify-content-center pt-3 pb-5">
  <div class="w-100">
    <%= render 'client/users/me/shared/profile' %>
    <%= render 'client/users/me/shared/links' %>

    <% @lottery_histories.each do |lottery_history| %>
      <div class="card shadow p-4 my-2">
        <div>Item Name:
          <span class="ms-2 fw-semibold"><%= lottery_history.item.name %></span>
        </div>
        <div>Serial Number:
          <span class="ms-2 fw-semibold"><%= lottery_history.serial_number %></span>
        </div>
        <div>Created At:
          <span class="ms-2 fw-semibold"><%= lottery_history.created_at.strftime("%Y/%m/%d %I:%M %p") %></span>
        </div>
        <div>State:
          <span class="badge <%=
            case lottery_history.state
            when 'won' then 'bg-success'
            when 'lost' then 'bg-danger'
            when 'cancelled' then 'bg-secondary'
            else 'bg-primary'
            end
          %> ms-2 fw-semibold"><%= lottery_history.state %></span>
        </div>
      </div>
    <% end %>
    <%= paginate @lottery_histories %>
  </div>
</div>