<div class="d-flex justify-content-center pt-3">
  <div class="w-100">
    <%= render 'client/users/me/shared/profile' %>
    <%= render 'client/users/me/shared/links' %>

    <% @order_histories.each do |order_history| %>
      <div class="card shadow p-4 my-2">
        <div>Serial Number:
          <span class="ms-2 fw-semibold"><%= order_history.serial_number %></span>
        </div>
        <div>Amount:
          <span class="ms-2 fw-semibold"><%= number_to_currency(order_history.amount, :unit => "P ", :separator => ".", :delimiter => ",") %></span>
        </div>
        <div>Coins:
          <span class="ms-2 fw-semibold"><%= order_history.coin %></span>
        </div>
        <div>Created At:
          <span class="ms-2 fw-semibold"><%= order_history.created_at.strftime("%Y/%m/%d %I:%M %p") %></span>
        </div>
        <div>State:
          <span class="badge <%=
            case order_history.state
            when 'pending' then 'bg-primary'
            when 'submitted' then 'bg-info'
            when 'cancelled' then 'bg-secondary'
            when 'paid' then 'bg-success'
            end
          %> ms-2 fw-semibold"><%= order_history.state %></span>
        </div>

        <%= button_to "Cancel Order", order_cancel_path(order_history), method: :put, class: "btn btn-danger w-100 mt-2" if order_history.may_cancel? && order_history.state == 'submitted' %>
      </div>
    <% end %>
    <%= paginate @order_histories %>
  </div>
</div>