<%= render 'client/shared/nav' %>
<div class="container d-flex justify-content-center pt-3 pb-5">
  <div class="w-100">
    <%= render 'client/users/me/shared/profile' %>
    <%= render 'client/users/me/shared/links' %>

    <% @winning_histories.each do |winning_history| %>
      <div class="card shadow p-4 my-2">
        <div>Item Name:
          <span class="ms-2 fw-semibold"><%= winning_history.item.name %></span>
        </div>
        <div>Serial Number:
          <span class="ms-2 fw-semibold"><%= winning_history.serial_number %></span>
        </div>
        <div>Created At:
          <span class="ms-2 fw-semibold"><%= winning_history.created_at.strftime("%Y/%m/%d %I:%M %p") %></span>
        </div>
        <button class="btn btn-primary my-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= winning_history.id %>" aria-expanded="false" aria-controls="collapseExample">
          Select Address
        </button>
        <div class="collapse" id="collapse<%= winning_history.id %>">
          <div class="card card-body">
            <%= form_with model: @winner, url: claim_prize_me_index_path, method: :put do |f| %>
              <%= f.hidden_field :ticket_id, value: winning_history.id %>
              <%= f.hidden_field :item_id, value: winning_history.item_id %>

              <div class="col-12 field my-2">
                <%= f.label :address_id, "Select Address:", class: "form-label me-2" %>
                <%= f.select :address_id, @addresses.all.map { |address| [address.name, address.id] }, {}, class: 'form-select w-100' %>
              </div>

              <div class="col-12 actions text-center my-2">
                <%= f.submit "Claim Prize", class: 'btn btn-md btn-success w-100' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @winning_histories %>
  </div>
</div>
<%= render 'client/shared/footer' %>