<%= render 'client/shared/nav' %>
<div class="container mb-2 pb-5">
  <%= render 'client/shared/banner' %>
  <%= render 'client/shared/announcement' %>
  <button class="btn btn-primary rounded-0 my-3 w-100">Button</button>
  <div class="d-flex">
    <%= button_to "All", lottery_index_path, method: :get, class: "btn rounded-circle me-2 #{ params[:category].present? ? 'btn-info' : 'btn-primary' }" %>
    <% @categories.each do |category| %>
      <%= button_to category.name, lottery_index_path,
                    method: :get, params: { category: category.name },
                    class: "btn me-2 #{ params[:category] == category.name ? 'btn-primary' : 'btn-info' }" %>
    <% end %>
  </div>

  <div class="row mt-3">
    <% @items.each do |item| %>
      <div class="col-6 my-2" style="height: 500px">
        <div class="card shadow h-100 p-4">
          <%= image_tag(item&.image_url || "https://loremflickr.com/300/300", class: "w-100 h-100") %>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @items %>

</div>
<%= render 'client/shared/footer' %>