<div class="container-fluid">
  <div class="row flex-nowrap">
    <%= render 'admin/shared/side_nav' %>

    <div class="col p-0">
      <%= render 'admin/shared/nav' %>

      <div class="container-fluid mt-4">
        <div class="d-flex justify-content-between">
          <h1>All Offers</h1>
          <%= link_to "Create New Offer", new_offer_path, class: "btn btn-success h-100" %>
        </div>
        <table class="table table-bordered mt-2">
          <thead>
          <tr>
            <td>Name</td>
            <td>Image</td>
            <td>Status</td>
            <td>Amount</td>
            <td>Coin</td>
            <td>Actions</td>
          </tr>
          </thead>
          <tbody>
          <% @offers.each do |offer| %>
            <tr>
              <td class="text-nowrap"><%= offer.name %></td>
              <td class="text-nowrap text-center"><%= image_tag(offer.image_url || "https://loremflickr.com/50/50", style: 'width: 50px; height: 50px;') %></td>
              <td class="text-nowrap">
                <span class="<%= "badge #{offer.status == 'active' ? 'bg-primary' : 'bg-danger' }" %>"><%= offer.status %></span>
              </td>
              <td class="text-nowrap text-end"><%= offer.amount %></td>
              <td class="text-nowrap text-center"><%= offer.coin %></td>
              <td class="text-nowrap p-2">
                <div class="d-flex justify-content-start">
                  <%= link_to "Edit", edit_offer_path(offer), class: "btn btn-sm btn-warning me-2" %>
                  <%= button_to "Delete", offer_path(offer), method: :delete, class: "btn btn-sm btn-danger" %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= paginate @offers %>
      </div>

    </div>
  </div>
</div>