<div class="container-fluid mt-4">
  <h1>All Orders</h1>
  <%= link_to 'Export', orders_path(format: :csv, page: params[:page]), class: 'btn btn-primary mb-2' %>
  <%= render 'admin/orders/shared/filter' %>

  <table class="table table-bordered mt-2">
    <thead>
    <tr>
      <td>Serial Number</td>
      <td>Email</td>
      <td>Offer</td>
      <td>Amount</td>
      <td>Coins</td>
      <td>Genre</td>
      <td>State</td>
      <td>Created At</td>
      <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="text-nowrap"><%= order.serial_number %></td>
        <td class="text-nowrap"><%= order.user.email %></td>
        <td class="text-nowrap"><%= order.offer&.name %></td>
        <td class="text-nowrap text-end"><%= number_to_currency(order.amount, :unit => "P ", :separator => ".", :delimiter => ",") %></td>
        <td class="text-nowrap text-center"><%= order.coin %></td>
        <td class="text-nowrap"><span class="badge <%=
          case order.genre
          when 'deposit' then 'bg-primary'
          when 'increase' then 'bg-success'
          when 'deduct' then 'bg-danger'
          when 'bonus' then 'bg-info'
          when 'member_level' then 'bg-dark'
          when 'share' then 'bg-warning'
          end
        %>"><%= order.genre %></span></td>
        <td class="text-nowrap"><span class="badge <%=
          case order.state
          when 'pending' then 'bg-primary'
          when 'submitted' then 'bg-info'
          when 'cancelled' then 'bg-secondary'
          when 'paid' then 'bg-success'
          end
        %>"><%= order.state %></span></td>
        <td class="text-nowrap"><%= order.created_at.strftime("%Y/%m/%d %I:%M %p") %></td>
        <td class="text-nowrap p-2">
          <div class="d-flex justify-content-start">
            <%= button_to "Pay", order_pay_path(order), method: :put, class: "btn btn-sm btn-success me-1" if order.may_pay? %>
            <%= button_to "Cancel", order_cancel_path(order), method: :put, class: "btn btn-sm btn-danger me-1" if order.may_cancel? %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @orders %>

  <div class="ms-auto w-25 d-flex justify-content-end gap-5 text-nowrap">
    <div>Amount Subtotal <h3 class="fw-bold text-end"><%= @subtotal_amount %></h3></div>
    <div>Amount Total <h3 class="fw-bold text-end"><%= @total_amount %></h3></div>
    <div>Coins Subtotal <h3 class="fw-bold text-end"><%= @subtotal_coins %></h3></div>
    <div>Coins Total <h3 class="fw-bold text-end"><%= @total_coins %></h3></div>
    <div>Convenience Fee <h3 class="fw-bold text-end">0</h3></div>
  </div>
</div>
