<%= render 'client/shared/nav' %>
<div class="container text-center pt-5">
  <div class="mb-4">
    <%= @svg.html_safe %>
  </div>

  <p><a href="<%= @invite_url %>"><%= @invite_url %></a></p>
</div>
<%= render 'client/shared/footer' %>