<div class="text-center pt-5">
  <div class="mb-4">
    <%= @svg.html_safe %>
  </div>

  <p><a href="<%= @invite_url %>"><%= @invite_url %></a></p>

  <div class="card shadow p-4 mb-2">
    <h3>Invited Members</h3>
    <div class="row row-cols-2 mt-2">
      <% @invite_members.each do |invite_member| %>
        <div class="col">
          <p><%= invite_member.email %></p>
        </div>
      <% end %>
    </div>
  </div>

  <%= paginate @invite_members %>

  <div class="card shadow p-4">
    <% if @level %>
      <p>You are currently level <span class="fw-bold"><%= @current_level.level %>!</span> Share
        to <span class="fw-bold"><%= pluralize(@level&.required_members, 'friend') %></span> and
        get <span class="fw-bold"><%= pluralize(@level&.coins, 'coin') %></span></p>
    <% else %>
      <p>You've reached maximum level!</p>
    <% end %>
  </div>
</div>