<%= form_with url: ticket_index_path, method: :get, class: "form-inline w-100 mb-3" do |f| %>
  <div class="row row-cols-3 g-2">
    <div class="col">
      <div class="input-group">
        <%= f.text_field :serial_number, class: "form-control", type: "search", placeholder: "Serial Number", aria: { label: 'Serial Number' }, value: params[:serial_number] %>
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <%= f.text_field :item_name, class: "form-control", type: "search", placeholder: "Item Name", aria: { label: 'Item Name' }, value: params[:item_name] %>
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <%= f.email_field :email, class: "form-control", type: "search", placeholder: "Email", aria: { label: 'Email' }, value: params[:email] %>
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <%= f.select :state, options_for_select(%w[pending won lost cancelled], params[:state]),
                     { include_blank: 'Please select state' }, { class: "form-select w-25" } %>
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <%= f.datetime_field :start_date, class: "form-control", placeholder: "Start Date", value: params[:start_date] %>
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <%= f.datetime_field :end_date, class: "form-control", placeholder: "Start Date", value: params[:end_date] %>
      </div>
    </div>
  </div>
  <%= f.submit "Search", class: "btn btn-primary my-2 ms-auto", type: "submit" %>
<% end %>