<div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <% if !client_signed_in? %>

    <div class="d-flex flex-column mx-3">
      <span class="my-2">Already have an account?</span>
      <%= link_to "Login", new_client_session_path, class: "btn btn-success " %>
      <span class="text-center my-2">or</span>
      <%= link_to "Sign up", new_client_registration_path, class: "btn btn-primary" %>
    </div>
  <% else %>
    <div class="px-3">
      <div class="d-flex align-items-start gap-3 mb-4">
        <%= image_tag(current_client.image_url, class: "rounded-circle img-fluid profile-img" ) if current_client.image.present? %>
        <div class="d-flex flex-column gap-2 w-100">
          <div>Username: <span class="fw-bold"><%= current_client&.username %></span></div>
          <div>Email: <span class="fw-bold"><%= current_client&.email %></span></div>
          <div> <%= 'Coin'.pluralize(@current_client&.coins) %>: <span class="fw-bold"><%= current_client&.coins %></span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column w-100 gap-2">
        <%= link_to "Cash In Now", shops_path, class: "btn btn-primary" %>
        <%= link_to "My Profile", me_index_path, class: "btn btn-primary" %>
        <%= button_to 'Logout', destroy_client_session_path, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-danger w-100" %>
      </div>
    </div>
  <% end %>
</div>