<%= form_with model: @item, url: path do |f| %>
  <div class="row row-cols-2">
    <div class="col">
      <div class="col-12 field my-2">
        <%= f.label :name, "Name:", class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
        <% @item.errors.full_messages_for(:name).each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      </div>

      <div class="col-12 field my-2">
        <%= f.label :image, "Image:", class: "form-label" %>
        <%= f.file_field :image, class: "form-control" %>
        <% @item.errors.full_messages_for(:image).each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      </div>

      <div class="col-12 field my-2">
        <%= f.label :quantity, "Quantity:", class: "form-label" %>
        <%= f.number_field :quantity, class: "form-control w-25" %>
        <% @item.errors.full_messages_for(:quantity).each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      </div>

      <div class="col-12 field my-2">
        <%= f.label :minimum_tickets, "Minimum Tickets:", class: "form-label" %>
        <%= f.number_field :minimum_tickets, class: "form-control w-25" %>
        <% @item.errors.full_messages_for(:minimum_tickets).each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      </div>

      <div class="col-12 field my-2">
        <%= f.label :batch_count, "Batch Count:", class: "form-label" %>
        <%= f.number_field :batch_count, class: "form-control w-25" %>
        <% @item.errors.full_messages_for(:batch_count).uniq.each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      </div>
    </div>

    <div class="col">
      <div class="col-12 field my-2">
        <%= f.label :online_at, "Online At:", class: "form-label" %>
        <%= f.datetime_field :online_at, class: "form-control w-75" %>
        <% @item.errors.full_messages_for(:online_at).uniq.each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      </div>

      <div class="col-12 field my-2">
        <%= f.label :offline_at, "Offline At:", class: "form-label" %>
        <%= f.datetime_field :offline_at, class: "form-control w-75" %>
        <% @item.errors.full_messages_for(:offline_at).uniq.each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      </div>

      <div class="col-12 field my-2">
        <%= f.label :start_at, "Started At:", class: "form-label" %>
        <%= f.datetime_field :start_at, class: "form-control w-75" %>
        <% @item.errors.full_messages_for(:start_at).each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      </div>

      <div class="col-12 field my-2">
        <%= f.label :status, "Status:", class: "form-label me-2" %>
        <div>
          <% Admin::Item.statuses.each_key do |status| %>
            <%= f.radio_button :status, status %>
            <%= f.label :status, status.humanize, value: status %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="col-12 actions text-center my-2">
    <%= f.submit "Save Item", class: 'btn btn-md btn-success w-100' %>
  </div>
<% end %>