<%= render 'client/shared/banner' %>
<%= render 'client/shared/announcement' %>

<div class="d-flex mt-3">
  <%= button_to "All", shops_path, method: :get, class: "btn rounded-circle me-2 #{ params[:genre].present? ? 'btn-info' : 'btn-primary' }" %>
  <% Offer.genres.each_key do |genre| %>
    <%= button_to genre.humanize, shops_path,
                  method: :get, params: { genre: genre },
                  class: "btn me-2 #{ params[:genre] == genre ? 'btn-primary' : 'btn-info' }" %>
  <% end %>
</div>

<div class="row row-cols-2 g-5 mt-3">
  <% @offers.each do |offer| %>
    <div class="col my-2">
      <%= link_to shop_path(offer), class: "text-decoration-none" do %>
        <div class="card shadow h-100">
          <%= image_tag(offer.image_url, class: "card-img-top w-100", style: "height: 30rem;") if offer.image.present? %>
          <div class="card-body text-center">
            <h5 class="card-title"><%= offer.name %></h5>
            <h1 class="fw-bold"><%= offer.coin %> coin(s)</h1>
            <span class="fw-bold"><%= number_to_currency(offer.amount, :unit => "P ", :separator => ".", :delimiter => ",") %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate @offers %>