<%= render 'client/shared/banner' %>
<%= render 'client/shared/announcement' %>

<div class="d-flex mt-3">
  <%= button_to "All", lotteries_path, method: :get, class: "btn rounded-circle me-2 #{ params[:category].present? ? 'btn-info' : 'btn-primary' }" %>
  <% @categories.each do |category| %>
    <%= button_to category.name, lotteries_path,
                  method: :get, params: { category: category.name },
                  class: "btn me-2 #{ params[:category] == category.name ? 'btn-primary' : 'btn-info' }" %>
  <% end %>
</div>

<div class="row row-cols-2 g-5 mt-3">
  <% @items.each do |item| %>
    <div class="col my-2">
      <%= link_to lottery_path(item), class: "text-decoration-none" do %>
        <div class="card shadow h-100">
          <%= image_tag(item.image_url || "https://via.placeholder.com/150", class: "card-img-top img-fluid") %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= item.name %></h5>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @items %>