<%= form_with model: @offer, url: path do |f| %>
  <div class="col-12 field my-2">
    <%= f.label :name, "Name:", class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
    <% @offer.errors.full_messages_for(:name).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="col-12 field my-2">
    <%= f.label :image, "Image:", class: "form-label" %>
    <%= f.file_field :image, class: "form-control" %>
    <% @offer.errors.full_messages_for(:image).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="col-12 field my-2">
    <%= f.label :amount, "Amount:", class: "form-label" %>
    <%= f.number_field :amount, class: "form-control w-25" %>
    <% @offer.errors.full_messages_for(:amount).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="col-12 field my-2">
    <%= f.label :coin, "Coin:", class: "form-label" %>
    <%= f.number_field :coin, class: "form-control w-25" %>
    <% @offer.errors.full_messages_for(:coin).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="col-12 field my-2">
    <%= f.label :status, "Status:", class: "form-label me-2" %>
    <div>
      <% Offer.statuses.each_key do |status| %>
        <%= f.radio_button :status, status, checked: (f.object.status.present? ? f.object.status == status : status == status.inactive) %>
        <%= f.label :status, status.humanize %>
      <% end %>
    </div>
  </div>

  <div class="col-12 actions text-center my-2">
    <%= f.submit "Save Item", class: 'btn btn-md btn-success w-100' %>
  </div>
<% end %>