<%= render 'client/shared/banner' %>
<%= render 'client/shared/announcement' %>

<% @shares.each do |share| %>
  <div class="card shadow h-100 mt-3">
    <div class="row row-cols-2">
      <div class="col-5">
        <%= image_tag(share.picture_url, class: "card-img-top w-100", style: "height: 30rem;") if share.picture.present? %>
      </div>
      <div class="col-7">
        <div class="fw-bold"><%= share.user.email %></div>
        <div><%= share.comment %></div>
      </div>
    </div>
  </div>
<% end %>