<%= render 'client/shared/nav' %>
<div class="container mb-2 pb-5">
  <%= render 'client/shared/banner' %>
  <%= render 'client/shared/announcement' %>
  <button class="btn btn-primary rounded-0 my-3 w-100">Button</button>

  <% @shares.each do |share| %>
    <div class="card shadow h-100 mt-3">
      <div class="row row-cols-2">
        <div class="col-5">
          <%= image_tag(share&.picture_url || "https://loremflickr.com/300/300", class: "card-img-top w-100", style: "height: 30rem;") %>
        </div>
        <div class="col-7">
          <div class="fw-bold"><%= share.user.email %></div>
          <div><%= share.comment %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render 'client/shared/footer' %>