<%= render 'client/shared/banner' %>
<%= render 'client/shared/announcement' %>

<% @shares.each do |share| %>
  <div class="card shadow h-100 mt-3">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag(share.picture_url || "https://via.placeholder.com/150", class: "img-fluid") %>
      </div>
      <div class="col-md-8 p-4">
        <div class="d-flex align-items-start gap-3">
          <%= image_tag(current_client&.image_url || "https://via.placeholder.com/150", class: "rounded-circle img-fluid profile-img") %>
          <div class="d-flex flex-column gap-2">
            <div>Username: <span class="fw-bold"><%= share.user&.username %></span></div>
            <div>Email: <span class="fw-bold"><%= share.user&.email %></span></div>
            <div>Comment: <span class="fw-bold"><%= share.comment %></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>