<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none mx-auto">
      <span class="fs-5 d-none d-sm-inline">System Management</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <%= link_to admin_root_path, class: "nav-link align-middle px-0 text-decoration-none" do %>
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Homepage</span>
        <% end %>
      </li>
      <li>
        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
          <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Member Management</span>
          <i class="bi bi-caret-down-fill"></i>
        </a>
        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
          <li>
            <%= link_to admin_root_path, class: "nav-link px-0 text-decoration-none" do %>
              <span class="d-none d-sm-inline">User List</span>
            <% end %>
          </li>
          <li class="w-100">
            <%= link_to items_path, class: "nav-link px-0 text-decoration-none" do %>
              <span class="d-none d-sm-inline">Item List</span>
            <% end %>
          </li>
          <li class="w-100">
            <%= link_to categories_path, class: "nav-link px-0 text-decoration-none" do %>
              <span class="d-none d-sm-inline">Category List</span>
            <% end %>
          </li>
          <li class="w-100">
            <%= link_to tickets_path, class: "nav-link px-0 text-decoration-none" do %>
              <span class="d-none d-sm-inline">Ticket List</span>
            <% end %>
          </li>
          <li class="w-100">
            <%= link_to winners_path, class: "nav-link px-0 text-decoration-none" do %>
              <span class="d-none d-sm-inline">Winner List</span>
            <% end %>
          </li>
          <li class="w-100">
            <%= link_to offers_path, class: "nav-link px-0 text-decoration-none" do %>
              <span class="d-none d-sm-inline">Offer List</span>
            <% end %>
          </li>
          <li class="w-100">
            <%= link_to orders_path, class: "nav-link px-0 text-decoration-none" do %>
              <span class="d-none d-sm-inline">Order List</span>
            <% end %>
          </li>
          <li class="w-100">
            <%= link_to invites_path, class: "nav-link px-0 text-decoration-none" do %>
              <span class="d-none d-sm-inline">Invite List</span>
            <% end %>
          </li>
          <li class="w-100">
            <%= link_to news_tickers_path, class: "nav-link px-0 text-decoration-none" do %>
              <span class="d-none d-sm-inline">News Tickers List</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Example 2 Management</span>
          <i class="bi bi-caret-down-fill"></i>
        </a>
        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
          <li class="w-100">
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Example</span> 1</a>
          </li>
          <li>
            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Example</span> 2</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>